<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
     <!--폰트-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
<body>
  <div id="wrap">
    <div id="banner">


      <header>
          <h1 id="logo"><img src="/static/images/KH_LOGO.png" style="width: 63px; height: 33px; margin-top: 18px"></h1>
          <ul class="nav">
              <li>Profile</li>
              <li>Skills</li>
              <li>Archiving</li>
              <li>Projects</li>
              <li></li>
          </ul>
      </header>
        <div class="title_name_wrap">
            <h1 class="title_name" >긍정의 알고리즘을 탑재한<br> 백엔드 개발자 이강현입니다</h1>
        </div>
    <!--        보통 의미없는건 SPAN, span은 inline요소임-->
        <span class="meaningless-line"></span>
        <p class="banner-description"> 안녕하십니까?<br><br>커뮤니케이션에 자신 있는<br>리스크 관리에 유능한<br>맡은 바 책임은 끝까지 완수 해내는<br><br> 뚝심있는 백엔드 개발자 이강현 입니다.<br> 만나뵙게 되어 대단히 반갑습니다 :)<br><br>  </p>
        <div class="invitation">
            <img src="/static/images/invitation7.png">
        </div>
    </div>


    <div id="container">
        <section id="aboutMe">
            <div class="aboutMe-inner">
                <div class="title">Profile</div>

                <div class="myInfo">
                                <img src="/static/images/aboutme7.png" style="width: 90%; height: 90%; margin: 25px auto;">


                </div>
                <div class="notice"></div>
            </div>
        </section>
        <section id="skills">
            <div class="skills-inner">
                <div class="title">SKILLS</div>
                <div class="skills_wrap">
                    <section>
                        <span>Programming Language</span>
                        <img src="/static/images/java.png" class="java">
                        <img src="/static/images/python_image.png" class="python">
                        <img src="/static/images/js_image.png" class="lang_js" alt="">
                    </section>
                    <section>
                        <span>Backend</span>
                        <img src="/static/images/flask.png" class="flask">
                        <img src="/static/images/spring_image.png" class="spring">
                        <img src="/static/images/springboot_image.png" class="springboot">
                    </section>
                    <section>
                        <span>Database</span>
                        <img src="/static/images/mysql.png" class="mysql">
                        <img src="/static/images/mariadb.png" class="mariadb">
                    </section>
                    <section>
                        <span>Frontend</span>
                        <img src="/static/images/html_image.png" class="html">
                        <img src="/static/images/css_image.png" class="css">
                        <img src="/static/images/js_image.png" class="js">
                        <img src="/static/images/jsp_image.png" class="jsp">
                        <img src="/static/images/jQuery_image.png" class="jquery">
                    </section>
                </div>
                <div class="center_cir cr1">
                    <span>DevOps Stacks</span>
                    <img src="/static/images/github.png" class="github">
                    <img src="/static/images/git.png" class="git">
                    <img src="/static/images/jenkins.png" class="jenkins">
                </div>
                <div class="center_cir cr2">

                    <img src="/static/images/docker.png" class="docker">
                    <img src="/static/images/aws.png" class="aws">
                </div>
            </div>
        </section>


        <section id="archiving">
            <div class="title">ARCHIVING</div>
            <div class="archiving-inner">
                <section class="arch-sec1">
                    <img src="/static/images/git-hub.png" />
                    <a href="https://github.com/lkh599810">https://github.com/lkh599810</a>

                    <h4>Github 링크입니다.</h4>
                    <ul class="github_ul">
                        <li>개발을 처음 시작했을 때 부터 사용하던 Github입니다. </li>
                        <li>프로젝트들이 모여있는 링크입니다. </li>
                    </ul>
                </section>

                <section class="arch-sec2">
                    <img src="/static/images/naverblog.png"  />
                    <a href="https://blog.naver.com/lkh599810">https://blog.naver.com/lkh599810</a>

                    <h4>네이버 블로그입니다.</h4>
                    <ul class="github_ul">
                        <li>개발을 처음 시작하면서부터 작성하기 시작했던 블로그입니다.</li>
                        <li>공부했던 내용과 느낀 점 등을 기재하였습니다.</li>
                        <li>일기 형식으로 편히 작성하였습니디.</li>
                    </ul>
                </section>
            </div>
        </section>



        <section id="projects">
                <div class="tosel-lab-platform">

                </div>


                <div class="project-aboutMe-inner">
                    <div class="title">Projects</div>
                        <div class="project_wrapper">
                            <a class="go-projects" href="/projects"><button class="more2">프로젝트 바로가기 &nbsp; →</button></a>
                        </div>
                 </div>
        </section>




    <footer></footer>

  </div>
</div>
</body>
<script>
    $(document).ready(function (){
        $('.title_name').css('transform', 'translate(0,0)');
    });


    var hiddenElement=document.querySelector('.invitation');

    window.addEventListener('scroll',function (){
         var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

         if (scrollTop>240){
              hiddenElement.style.opacity = 1;
         }
         else{
                 hiddenElement.style.opacity = 0;

         }

    });

</script>
</html>